<main class="main">
    <section class="prendre-rdv p-t-3 p-b-3">
        <div class="container mt-5">
            <!-- Titre -->
            <h2 class="text-center mb-4">Prendre un Rendez-vous</h2>

            <div class="card p-4">
                <form (ngSubmit)="enregistrerRdv()" #formRdv="ngForm">
                    <!-- Garage -->
                    <div class="mb-3">
                        <label class="form-label">
                            Choisissez un garage
                            (Pour voir le garage le plus proche de chez vous, cliquez
                            <button class="lien-sans-effet" type="button" (click)="toggleCarte()">
                                Voir les garages
                            </button>)
                        </label>

                        <div *ngIf="garageSelectionne" class="alert alert-info mt-2">
                            <strong>Garage sélectionné :</strong> {{ garageSelectionne.localisation }} - {{
                            garageSelectionne.contact }}
                        </div>

                        <div *ngIf="afficherCarte" class="mt-3" style="height: 400px;">
                            <div id="map" style="height: 100%;"></div>
                        </div>
                    </div>

                    <!-- Choisir une voiture -->
                    <div class="mb-3">
                        <label for="voiture" class="form-label">
                            Choisissez une voiture
                            (Pour ajouter une nouvelle voiture ciquer
                            <button type="button" class="bouton-lien" data-bs-toggle="modal"
                                data-bs-target="#ajoutVoitureModal">
                                ici
                            </button>
                            )
                        </label>
                        <div class="d-flex">
                            <select class="form-control me-2" required [(ngModel)]="formData.voitureId"
                                name="voitureId">
                                <option *ngFor="let voiture of voitures" [value]="voiture._id">
                                    {{ voiture.marque }} - {{ voiture.model }} ({{ voiture.immatriculation }})
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- Date et heure -->
                    <div class="mb-3">
                        <label for="date" class="form-label">Choisissez l'heure qui vous convient pour le
                            rendez-vous</label>
                        <input type="datetime-local" id="date" class="form-control" [(ngModel)]="formData.date_heure" name="date_heure" required>
                    </div>

                    <!-- Notes -->
                    <div class="mb-3">
                        <label for="notes" class="form-label">Joinniez une note pour permettre au garagiste d'orrienter
                            son diagnostique</label>
                        <textarea id="notes" class="form-control" rows="3"
                            placeholder="Ajoutez des précisions" [(ngModel)]="formData.note" name="note" required></textarea>
                    </div>

                    <!-- Bouton Soumettre -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-success w-100 bouton-principal">Envoyer la demande</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal Ajout Voiture -->
        <div class="modal fade" id="ajoutVoitureModal" tabindex="-1" aria-labelledby="ajoutVoitureModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ajoutVoitureModalLabel">Ajouter une nouvelle voiture</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                    </div>
                    <div class="modal-body">
                        <form #ajoutVoitureForm="ngForm">
                            <div class="mb-3">
                                <label class="form-label">Marque</label>
                                <input type="text" name="marque" class="form-control" required
                                    [(ngModel)]="nouvelleVoiture.marque">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Modèle</label>
                                <input type="text" name="model" class="form-control" required
                                    [(ngModel)]="nouvelleVoiture.model">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Immatriculation</label>
                                <input type="text" name="immatriculation" class="form-control" required
                                    [(ngModel)]="nouvelleVoiture.immatriculation">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Année</label>
                                <input type="number" name="annee" class="form-control" required
                                    [(ngModel)]="nouvelleVoiture.annee">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Type</label>
                                <select class="form-control" required [(ngModel)]="nouvelleVoiture.type" name="type">
                                    <option value="Essence">Essence</option>
                                    <option value="Diesel">Diesel</option>
                                    <option value="Electrique">Électrique</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Taille</label>
                                <select class="form-control" required [(ngModel)]="nouvelleVoiture.taille"
                                    name="taille">
                                    <option value="Citadine">Citadine</option>
                                    <option value="4x4">4x4</option>
                                    <option value="Berline">Berline</option>
                                    <option value="SUV">SUV</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-success" (click)="ajouterVoiture()">Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>