.container {
    max-width: 700px;
}
.card {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.card {
    background-color: #fffcdc !important; /* Couleur de fond */
    border: none; /* Supprime la bordure si nécessaire */
    border-radius: 10px; /* Coins arrondis */
}
