<style>


</style>
<body>
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <h1>Bienvenue !</h1>
          <span>Inscrivez-vous pour profiter de nos services</span>
      
          <!-- Champs User -->
          <input 
            type="text" 
            [(ngModel)]="user.username" 
            name="username" 
            placeholder="Nom d'utilisateur" 
            required 
          />
          <input 
            type="email" 
            [(ngModel)]="user.email" 
            name="email" 
            placeholder="Adresse email" 
            required 
          />
          <input 
            type="password" 
            [(ngModel)]="user.password" 
            name="password" 
            placeholder="Créer un mot de passe" 
            required 
          />
      
          <!-- Champs Client -->
          <input 
            type="text" 
            [(ngModel)]="user.pseudo" 
            name="pseudo" 
            placeholder="Pseudo" 
            required 
          />
          <input 
            type="text" 
            [(ngModel)]="user.nom" 
            name="nom" 
            placeholder="Nom" 
            required 
          />
          <input 
            type="text" 
            [(ngModel)]="user.prenom" 
            name="prenom" 
            placeholder="Prénom" 
            required 
          />
          <input 
            type="date" 
            [(ngModel)]="user.dtn" 
            name="dtn" 
            placeholder="Date de naissance" 
            required 
          />
      
          <button type="submit" [disabled]="!registerForm.valid">
            S'inscrire
          </button>
      
          <p>Vous avez déjà un compte ? <a routerLink="/login">Se connecter</a></p>
        </form>
      </div>
    
    <div class="overlay-container">
        <div class="overlay">
        </div>
    </div>
</div>
</body>