<!-- Footer -->
<footer class="text-center text-white" style="background-color: #0a4275;">
  <!-- Grid container -->
  <!-- <div class="container p-4 pb-0">
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Register for free</span>
        <button data-mdb-ripple-init type="button" class="btn btn-outline-light btn-rounded">
          Sign up!
        </button>
      </p>
    </section>
  </div> -->
  <!-- Grid container -->

  <div class="row">
    <div class="col-3">
      <a class="navbar-brand" href="/">
        <img id="MDB-logo" src="/images/logo_garage.png" alt="MDB Logo" draggable="false" height="200" />
      </a>
    </div>
    <div class="col-8 text-center p-3 pied-page">
      © 2025 Copyright:
      <a class="vert" href="https://mdbootstrap.com/">RABEAZATOVO Safidimalala & RAKOTONDRAMANANA Andréa</a>
    </div>
  </div>
</footer>
<!-- Footer -->
