<main class="main">
    <section class="detail-cat p-t-3 p-b-3">
      <div class="container mt-5">
        <h1 class="text-center mb-4">{{ libelleCategorie }}</h1>
  
        <div class="row align-items-center mb-5">
          <div class="col-md-6">
            <p class="lead">
              {{ descriptionCategorie }}
            </p>
          </div>
          <div class="col-md-6 text-center image-container">
            <img src="https://placehold.co/600x300" alt="Illustration" class="img-fluid">
          </div>
        </div>
  
        <div class="table-responsive" *ngIf="prestations.length > 0; else noData">
          <table class="table table-striped table-bordered text-center">
            <thead class="table-dark">
              <tr>
                <th>Prestation</th>
                <th>Prix Unitaire de Base</th>
                <th>Durée</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of prestations">
                <td>{{ p.libelle_prestation }}</td>
                <td>{{ p.prix_unitaire_base }}€</td>
                <td>{{ p.duree }} heures</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <ng-template #noData>
          <p class="text-center">Aucune prestation disponible pour cette catégorie.</p>
        </ng-template>
      </div>
    </section>
  </main>
  