<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <h1>Bienvenue !</h1>
          <span>Connectez-vous pour profiter de nos services</span>
      
          <!-- Champ Email/Username -->
          <input 
            type="text" 
            [(ngModel)]="credentials.email" 
            name="email" 
            placeholder="Email ou nom d'utilisateur" 
            required 
          />
      
          <!-- Champ Mot de passe -->
          <input 
            type="password" 
            [(ngModel)]="credentials.password" 
            name="password" 
            placeholder="Mot de passe" 
            required 
          />
      
          <button type="submit" [disabled]="!loginForm.valid">
            Se connecter
          </button>
      
          <p>Pas encore de compte ? <a routerLink="/register">S'inscrire</a></p>
        </form>
      </div>
    <div class="overlay-container">
        <div class="overlay">
        </div>
    </div>
</div>
